.logo{
    height: 3.25rem;

}
.search{
    &___input{

    }
    &___icon{
        height: 2rem;
        width: 2rem;
    }
    &___button{

    }
}
.user-nav{
    &___icon-box{
        
    }
    &___icon{
        height: 2.25rem;
        width: 2.25rem;
    }
    &___notification{

    }
    &___user{

    }
    &___user-photo{
        height: 3.75rem;
        border-radius: 50%;
    }
    &___user-name{
        
    }
}